# currently supported values are 'eth' and 'bsc'
DEFAULT_NETWORK=bsc

# infura id - required only for 'eth' network
# this default value is included with metamask. if it doesn't work, feel free to change it.
INFURA_ID=9aa3d95b3bc440fa88ea12eaa4456161

# required mnemonic phrase for the wallet to use for trading.
MNEMONIC=<mnemonic phrase for wallet>

# interval in seconds for websocket handshake - this keeps the websocket conection alive
HANDSHAKE_INTERVAL=20

# amount to buy when we decide to buy a token
BUY_AMOUNT=0.008

# minimum amount of native coin to allow buying
MIN_BALANCE=0.05

# minimum % of tokens that must be pooled to consider buying
MIN_POOLED_SUPPLY=0.45

# minimum amount of paired native coin to consider buying
MIN_LIQUIDITY=0.25

# maximum amount of paired native coin to consider buying
MAX_LIQUIDITY=2

# amount of slippage to use when buying
SLIPPAGE=20
