# default network to use when starting 1 process
DEFAULT_NETWORK=bsc

# when starting all using start:all or running master.js, these are the networks it will run
# DEFAULT_NETWORKS=eth,bsc,avalanche,fantom,metis,fuse,polygon,moonriver,moonbeam
DEFAULT_NETWORKS=bsc

# infura id - required only for 'eth' network
# this default value is included with metamask. if it doesn't work, feel free to change it.
INFURA_ID=9aa3d95b3bc440fa88ea12eaa4456161

# required private key for connecting to web3 networks.
PRIVATE_KEY=

# interval in seconds for websocket handshake - this keeps the websocket conection alive
HANDSHAKE_INTERVAL=20

# amount to buy when we decide to buy a token
BUY_AMOUNT=0.01

# Delay buys by this duration in seconds, possibly useful to avoid bot detection
BUY_DELAY=0

# when we're up this amount, make a sell
SELL_MULTIPLIER=5

# balance * SELL_AMOUNT = amount to sell
SELL_AMOUNT=0.5

# minimum amount of native coin to allow buying
MIN_BALANCE=0.02

# minimum % of tokens that must be pooled to consider buying
MIN_POOLED_SUPPLY=0.4

# minimum amount of paired native coin to consider buying
MIN_LIQUIDITY=0.5

# maximum amount of paired native coin to consider buying
MAX_LIQUIDITY=2

# amount of slippage to use when buying
SLIPPAGE=25

# default token names to avoid
BLOCKED_NAMES=yacht,croc,cheem,putin,ukrain,test,rug,scam
